
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  min-width: 1280px;
}

/* page-header */

header .page-header {

}

.navigation-item-homelements {

}

.navigation-item {

}

.navigation-item-hotels {

}

/* main */

section .main-info {
  background: url(../images/main/background.jpg);     /*  ???  */
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  color: #82b3d3;
}

h2 .visually-hidden {                           /* Sedona */
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-discription {                     /* p */
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

/*  section-1 */

section .advantages-item {                    /* Небольшой городок */
  align-items: center;
  width: 400px;
  height: 385px;
  font-size: 20px;
  color: #000000;
  background-color: #83b3d3;

}

section .advantages-list-hotel {
  width: 800;
  height: 385;
  background-repeat: no-repeat;

}

section .advantages-item-square {

}

section .advantages-item-road {

}

section .advantages-item-tourist {

}

section .advantages-item-photoalbum {

}

section .advantages-item-bridge {

}

/* section-2 */

section .advantages-service {

}

section .advantages-item-service {

}

section .advantages-item-housing {

}

section .advantages-item-meal {

}

section .advantages-item-souvenirs {

}

/* section-search */

section .search {

}

.search-title {

}

.search-description {

}
/* article-newsletter */

article .newsletter {

}

.newsletter-button {      /* Кнопка  */
display: inline-block;
padding: 8px 50px;
font-weight: 700;
font-size: 20px;
font-family: inherit;
line-height: 36px;
color: #ffffff;
text-transform: uppercase;
text-decoration: none;
background-color: #82b3d3;
text-align: center;
border-radius: 4px;
box-sizing: border-box;
cursor: pointer;
border-radius: 0 4px 4px 0;
}

/* footer-social */


footer .header-footer-social {     /* footer */
  width: 1200px;
  height: 120px;
  color: #000000;
  background-color: #ffffff;
}

footer .footer-social-item-vkontakte {     /* vkontakte */
  font-size: 16px;
  color: #83b3d3;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 14px;
}
footer .footer-social-item-telegram {     /* telegram */
  font-size: 16px;
  color: #83b3d3;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 14px;
}

footer .footer-social-item-youtube {       /* youtube */
  font-size: 16px;
  color: #83b3d3;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 14px;
}

footer .footer-contact-phone {           /* phone */
font-weight: 700;
font-size: 40px;
line-height: 40px;
color: #000000;
text-transform: uppercase;
text-align: center;
text-shadow: 0 4px 4px 0;
}
