
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  min-width: 1280px;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  display: none;
}
.page-header {

}
/*=================================================== main =========================================================*/
.main-index {

}
.sight {
  width: 576px;
  margin: 60px auto 51px auto;
  padding: 0;
  text-align: center;
}

.sight-title {

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sight-discription {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

}
/*  section-1  advantages */
.advantages-list {
display: flex;
flex-wrap: wrap;
}

.advantages-item-city {                      /* небольшой городок */
  width: 400px;
  min-height: 385px;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-title-city {        /* title */
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-city  {               /* p */
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list-hotel {            /* фото  */
  width: auto;

}
 /* ------------------------------------небольшая площадь-----------------------*/
.advantages-item-square {
  width: 400px;
  min-height: 385px;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-square {             /* title */
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  }
.advantages-description-square {           /* P */
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}
  /* -----------------------------красивая дорога ----------------------------------*/
.advantages-item-road {
  width: 400px;
  min-height: 385px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.20);
}
                                        /*  title  */
.advantages-title-road {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
                                      /*  P  */
.advantages-description-road {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-tourist {                      /* мало туристов */
  width: 400px;
  min-height: 385px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.12);
}
                                                   /*  title   */
.advantages-title-tourist {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
                                                 /*  P  */
.advantages-description-tourist {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-photoalbum {            /* photo */

}

section .advantages-item-bridge {                 /*  мост  */
  width: 400px;
  min-height: 385px;
  color: #ffffff;
  background-color: #83b3d3;

}
.advantages-title-bridge  {                 /* title */
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-description-bridge {            /* p */
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
/*============================================ / section 2 /==================================================*/

.advantages-info {
  display: inline;
  color: #ffffff;
  background-color: ;
}
.advantages-title-info {
  text-align: center;
  width: 505px;
  height: 72px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}
.advantages-discription-info {
  text-align: center;
  width: 490px;
  height: 26px;
  font-size: 22px;
  line-height: 26px;
  color: #333;
}
  /* -----------------------------------section service    -------------------------------------*/
.advantages-service {

  text-align: center;
  width: 576px;
  margin: 60px auto 51px auto;
  padding: 0;

}
.advantages-list-servise {
  display: flex;
}
   /*-------------------------------------------------/жилье/-------------------------------------------------*/

 .advantages-item {

  width: 400px;
  min-height: 385px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
 }
.advantages-title {

}
.advantages-description {
}
     /*---------------------------------------------/     еда     /-----------------------------------------------*/
.advantages-item-meal {
  display: block;
  width: 400px;
  min-height: 385px;
  color: #000000;
  background-color:
}
.advantages-titles {

}

      /*--------------------------------------------/  сувениры  /---------------------------------------------------*/
.advantages-item {

};


/* section-search */



.search-title {

}

.search-description {

}
/* article-newsletter */

.newsletter  {

}

.newsletter-button  {      /* Кнопка  */
display: inline-block;
padding: 8px 50px;
font-weight: 700;
font-size: 20px;
font-family: inherit;
line-height: 36px;
color: #ffffff;
text-transform: uppercase;
text-decoration: none;
background-color: #82b3d3;
text-align: center;
border-radius: 4px;
box-sizing: border-box;
cursor: pointer;
border-radius: 0 4px 4px 0;
}

/* footer-social */


.header-footer-social {     /* footer */
  width: 1200px;
  height: 120px;
  color: #000000;
  background-color: #ffffff;
}

.footer-social-item-vkontakte {

}
.footer-social-item-telegram {

}

.footer-social-item-youtube {

}

.footer-contact-phone {

}
